{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="new">
    {% if user.is_authenticated %}
        <div class="card">
            <div class="card-body">
                <h5>New Post</h5>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" id="body"></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Post" />
                </form>
            </div>
        </div>
    {% endif %}
    </div>

    <div id="profile"></div>
    <div id="posts"></div>

    <ul id="pagination" class="pagination justify-content-center" style="display:none;margin:20px 0">
        <li class="page-item" id="previous"><a class="page-link" href="javascript:void(0)">Previous</a></li>
        <li class="page-item" id="number"><a class="page-link" href="javascript:void(0)"></a></li>
        <li class="page-item" id="next"><a class="page-link" href="javascript:void(0)">Next</a></li>
    </ul>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}